build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
.vscode/

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

#issue caused on ignoring docker files
# Ignore Docker configuration files
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml

# Ignore Docker-specific directories
.docker/
docker/

# Ignore Docker-related temporary and log files
*.pid
*.log
*.swp
*.swo

# Ignore build artifacts and caches
**/__pycache__/
**/node_modules/
**/venv/
tmp/
